*{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(6,5,39);
  color: #ffffff;
  overflow-x: hidden;

}

.clickable {
    cursor: pointer;
}


/* Nav Bar */

#mainNav .navbar-brand:hover {
  color: #c902a8;
}

#mainNav a {
  color: #f2f2f2;
  /* padding: 0.5em 0.5em; */
  text-decoration: none;
  transition: color 0.2s linear;

}

#mainNav a:hover {
  color: rgb(253, 2, 206);
  transition: color 0.5s linear;
}

#top-menu li.active a {
  color: #6b8bf4;
}

.sticky {
  background-color: rgba(6,5,39, .5);
  transition: background-color 0.5s linear;
}



header {
  height: 75vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 992px) {
  header video {
    display: none;
  }
}

header .container {
  position: relative;
  z-index: 2;
}

.overlay {
  background:url("images/Wallpaper/fiber_Moment.jpg") center no-repeat;
  background-size: cover;
}




/* @media only screen and (max-width: 992px) {
  header .overlay {
    background:url("images/Wallpaper/fiber_Moment.jpg") center no-repeat;
    background-size: cover;
  }

} */



@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://www.videvo.net/video/fiber-optics-macro-shot-12/5510/') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}



.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Muli';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  /* background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
  line-height: 2.5rem;

}


@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}


.quote-section {
  padding: 8rem 3rem;
  /* background: linear-gradient(180deg, rgb(6,5,39) 1%, rgb(6,5,39) 80%,rgb(243, 232, 252) 90%); */

}

.quote-section h1{
  font-family: 'Muli';
  font-size: 4rem;
  text-align: center;
}
.quote-section h2{
  font-family: 'Muli';
  font-size: 2rem;
  text-align: center;
}



.about-section {
  /* padding: 3rem 0rem; */
  padding-top: 7rem;
  padding-bottom: 7rem;
  /* background-color: rgb(243, 232, 252); */
  /* background: linear-gradient(180deg, rgb(243, 232, 252) 1%, rgb(243, 232, 252) 80%, rgb(6,5,39) 90%); */
  background: rgb(243, 232, 252)
}
.about-section h4{
  font-family: 'Muli';
  font-size: 5rem;
}


.about-section .about-text {
  padding: 3rem;
  font-size: 120%;
  background-color: rgb(6,5,39);

}

@media only screen and (max-width: 992px) {
  .about-section h4{
    font-family: 'Muli';
    font-size: 2rem;
  }
  .about-section .about-text {
    padding: 3rem;
    font-size: 100%;
    background-color: rgb(6,5,39);

  }
  .about-section .about-text hr {
    border-color: rgb(210,150,255);
    border-width: .25rem;
    width: 30%;
  }
}



/* Skills */

.skills-section {
  padding: 10rem 3rem;
  /* background: linear-gradient(180deg, rgb(6,5,39) 1%, rgb(6,5,39) 80%, rgba(0,0,0) 90%); */
  background:rgb(3,14,23);
}
#skill h3 {
  font-family: 'Muli';
  font-size: 9rem;
}

@media only screen and (max-width: 992px) {
  #skill h3{
    font-family: 'Muli';
    font-size: 3rem;
  }
}

#skill h6{
  padding-top: 5%;
}

/* Skill Bars */
.myProgress {  width: 100%; background-color: rgb(232, 234, 239);}

.javascript { width: 90%; height: 2rem; background-color: rgb(253, 2, 206);}

.python { width: 65%; height: 2rem; background-color: rgb(253, 2, 206);}

.java { width: 60%;  height: 2rem;  background-color: rgb(253, 2, 206);}

.css {  width: 95%;  height: 2rem;  background-color: rgb(253, 2, 206);}

.sql {  width: 70%;  height: 2rem;  background-color: rgb(253, 2, 206);}

.php {  width: 90%;  height: 2rem;  background-color: rgb(253, 2, 206);}

.haskell {  width: 40%;  height: 2rem;  background-color: rgb(253, 2, 206);}

.testing {  width: 70%;  height: 2rem;  background-color: rgb(253, 2, 206);}



/* Education */

.school-section {
  color: white;
  padding: 7rem 2rem;
  overflow-x: hidden;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Muli';
  background-image: url("images/Wallpaper/light_black.jpg");
}

#school h1 {
  font-family: 'Muli';
  font-size: 9rem;
}

@media only screen and (max-width: 992px) {
  #school h1 {
    font-family: 'Muli';
    font-size: 3rem;
  }
  .school-section {
    /* background-attachment: scroll; */
    background: url("images/Wallpaper/light_black.jpg") center no-repeat;
    background-size: cover;
  }
}




/* Project */




.portfolio {
  margin-bottom: -15px;
  padding: 5rem 0rem;
  /* background-color: rgb(239,255,255);
  color: rgb(3,14,23); */


}
#portfolio h1 {
  font-family: 'Muli';
  font-size: 4rem;
}

@media only screen and (max-width: 992px) {
  #portfolio h1 {
    font-family: 'Muli';
    font-size: 3rem;
  }
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  /* transition: all ease 0.5s; */
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: rgba(253, 2, 206, 0.8); */
}

.portfolio img {
  width: 25rem;
  height: 15rem;
}

.portfolio hr {
    height: 0.5px;
    color: #ffffff;
    background-color: #ffffff;
    border-color: : #ffffff;
}


.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);

}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}


/* Resume */

.resume {
  padding: 7rem 2rem;
  overflow-x: hidden;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Muli';
  background-image: url("images/Wallpaper/triangle-dark.jpg");
}
@media only screen and (max-width: 992px) {
  .resume {

    background: url("images/Wallpaper/triangle-dark.jpg") center no-repeat;
    background-size: cover;
  }
}

.resume button{
  padding: 1rem 2rem;

}


/* Work */
.work-section {
  padding: 7rem 0rem;
  /* background-color: rgb(40, 2, 102); */
  /* color:black; */
}


.work-section hr {
    height: 0.5px;
    color: #ffffff;
    background-color: #ffffff;
    border-color: : #ffffff;
}

.work-section h2{
  font-size: 3rem;
  text-align: center;
  font-family: 'Muli';
}


@media only screen and (max-width: 992px) {
  .work-section h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Muli';
  }
}

.work-section p{
  text-align: left;
}






/* Extracurricular */
#extra {
  /* padding: 13rem 3rem; */
  /* background: linear-gradient(0deg, rgb(6,5,39) 1%, rgb(6,5,39) 90%, rgb(243, 232, 252) 100%); */
}
.extras {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.extras h2{
  font-size: 3rem;
  text-align: center;
  font-family: 'Muli';
}
@media only screen and (max-width: 992px) {
  .extras h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Muli';
  }
}

.extras .extra-item {
  max-width: 18rem;
  padding-bottom: 1rem;
}

.extras .extra-item img {
  width:  10rem;
  height: 10rem;
}

footer {
  background:rgba(243, 232, 252, 1);
  color: black;
  padding-bottom: 1rem;

}
