* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Muli';
}

body {
    background-color: rgb(6, 5, 39);
    color: #ffffff;
    overflow-x: hidden;
}

.clickable {
    cursor: pointer;
}

/* NavBar */
#mainNav a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.2s linear;
}

#mainNav a:hover {
    color: #6b8bf4;
    transition: color 0.5s linear;
}

#top-menu li.active a {
    border-bottom: 5px solid rgb(253, 2, 206);
}

.sticky {
    background-color: rgba(6, 5, 39, .5);
    transition: background-color 0.5s linear;
}

header {
    height: 75vh;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 425px) {
    header video {
        display: none;
    }
}

header .container {
    position: relative;
    z-index: 2;
}

.overlay {
    background: url("images/Wallpaper/fiber_Moment.jpg") center no-repeat;
    background-size: cover;
    max-height: 100%;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://www.videvo.net/video/fiber-optics-macro-shot-12/5510/') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

.masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.8rem;
}

@media (min-width: 425px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
}

.quote-section {
    padding: 4rem 3rem;
    background-image: linear-gradient(-135deg, rgb(6, 5, 39), rgb(63, 34, 87));
}

.quote-section h1 {
    font-size: 4rem;
    text-align: center;
}

.quote-section h2 {
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .quote-section h1 {
        font-size: 2rem;
        text-align: center;
    }

    .quote-section h2 {
        font-size: 1rem;
        text-align: center;
    }
}

.about-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: rgb(102, 25, 110);
}

.about-section h1 {
    font-size: 5rem;
}

.about-section a {
    font-size: 2rem;
    color: rgb(102, 25, 110);
    background-color: rgb(255, 255, 255);
    border-radius: 70%;
}


@media only screen and (max-width: 425px) {
    .about-section h1 {
        font-size: 2.5rem;
    }
}

/* Skills */
.skills-section {
    padding: 10rem 1rem;
    background: rgb(3, 14, 23);
    background-image: linear-gradient(175deg, rgb(40, 11, 88), rgb(6, 5, 39));
}

@media only screen and (max-width: 425px) {
    .skills-section {
        padding: 5rem 1rem;
    }
}

.skills-section h1 {
    font-size: 9rem;
}

@media only screen and (max-width: 832px) {
    .skills-section h1 {
        font-size: 4rem;
    }
}

.skills-section h6 {
    padding-top: 5%;
}

/* Skill Bars */
.myProgress {
    width: 100%;
    background-color: rgb(232, 234, 239);
}

.skill-bar {
    height: 2rem;
    background-color: rgb(253, 2, 206);
}

.javascript {
    width: 90%;
}

.python {
    width: 65%;
}

.java {
    width: 70%;
}

.css {
    width: 99%;
}

.sql {
    width: 73%;
}

.php {
    width: 60%;
}

.haskell {
    width: 30%;
}

.testing {
    width: 60%;
}

/* Education */
.school-section {
    color: white;
    padding: 7rem 2rem;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Muli';
    background-image: url("images/Wallpaper/light_black.jpg");
}

.school-section h1 {
    font-size: 5rem;
}

@media only screen and (max-width: 912px) {
    .school-section h1 {
        font-size: 3rem;
    }

    .school-section {
        background: url("images/Wallpaper/light_black.jpg") center no-repeat;
        background-size: cover;
    }
}

/* Project */
.portfolio {
    padding: 0rem;
    background-image: linear-gradient(-35deg, rgb(145, 32, 156), rgb(6, 5, 39));
}

.portfolio h1 {
    font-size: 3rem;
}

@media only screen and (max-width: 425px) {
    .portfolio h1 {
        font-size: 2rem;
    }
}

.portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 40rem;
    margin: 0px;
}

.portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    opacity: 1;
    position: absolute;
}

.portfolio img {
    width: 40rem;
    height: 20rem;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

.modal-content {
    background-color: rgb(47, 35, 66);
}

.modal-header {
    background-color: rgb(25, 15, 40);
}

.modal-footer {
    background-color: rgb(25, 15, 40);
}

/* Resume */
.resume {
    padding: 7rem 2rem;
    overflow-x: hidden;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("images/Wallpaper/triangle-dark.jpg");
}

@media only screen and (max-width: 425px) {
    .resume {
        background: url("images/Wallpaper/triangle-dark.jpg") center no-repeat;
        background-size: cover;
    }
}

.resume button {
    padding: 1rem 2rem;
}

/* Work */
.work-section {
    padding: 7rem 0rem;
    background-image: linear-gradient(-135deg, rgb(145, 32, 156), rgb(6, 5, 39));
}

.work-section hr {
    height: 0.5px;
    color: #ffffff;
    background-color: #ffffff;
    border-color: : #ffffff;
}

.work-section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: -15px;
}

.work-section p {
    text-align: left;
}

@media (max-width: 425px) {
    .work-section .container {
        padding: 0;
        margin: 0;
    }
}

.work-section .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: white;
    align-items: center;
    background-color: rgb(6, 5, 39);
    padding: 1em;
    transition: .5s ease;
}

.work-section .card-overlay img {
    width: 30rem;
    height: 30rem;
}

.card-fade:hover .card-overlay {
    opacity: 1
}

/* Extracurricular */
.extras {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.extras h2 {
    font-size: 3rem;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .extras h2 {
        font-size: 2rem;
        text-align: center;
    }
}

.extras .extra-item {
    max-width: 18rem;
    padding-bottom: 1rem;
}

.extras .extra-item img {
    width: 10rem;
    height: 10rem;
}

footer {
    background: rgba(200, 168, 227, 1);
    color: black;
    padding-bottom: 1rem;
}
